$color-dark-black: #0f0f0f;
$color-black: #1a1b1f;
$color-white: #d9d9e3;
$color-blue: #0d81ec;

$font-family-default: "Poppins", sans-serif;
$font-weight-default: 400;

$border-rad-small: 1rem;
$border-rad-medium: 1.5rem;
$border-rad-big: 3rem;
$border-rad-huge: 5rem;
